@CHARSET "utf-8";
*{
	margin:0px;
	padding:0px;
}
a{
text-decoration:none;
}
ul{
list-style-type:none;
}
.clr{
	clear:both;
}
body{
font-family:serif;
font-size:small;
background-image:url(images/background.jpg);
}
#website{
	width:1040px;
	margin:auto;
	background-color:white;
	
}
#top{
	width:1000px;
	margin:auto;
	height:36px;
	background:url(images/bgtop.jpg);
}
#top-left{
float:left;
}
#top-left ul{
padding:10px 0px 0px 19px
}
#top-left ul li{
float:left;
margin-right:8px;
}
#top-right{
float:right;
}
#top-right ul{
padding:10px 19px 0px 0px
}
#top-right ul li{
float:left;
margin-left:8px;
color:gray;
}
#top-right ul li a{
color:gray;
}
#top-right ul li a:hover{
color:lime;
}

#header{
width:1000px;
margin:auto;
height:156px;

}
#cart{
float:right;
margin-top:40px;
position:relative;
}
#info-cart{
position:absolute;z-index:99;top:0;
margin:9px 0 0 110px;
color:red;
text-align:center;
}
#header-phone{
width:170px;
height:31px;
float:left;
margin-top:27px;
background:url(images/telephone.png) no-repeat;
padding-left:24px;
line-height:31px;
color:gray;

}
#search-box{
width:204px;
height:31px;
float:left;
margin-top:27px;
position:relative;
background:gray;

}
#textsearch{
height:31px;
width:160px;
border:0;
background:gray;
}
#search-button{
height:30px;
width:34px;
position:absolute;z-index:99;top:0;right:0;
border:0;
background:url(images/search.png) no-repeat;
cursor:pointer;
}

#cssmenu{
height:42px;
width:1000px;
margin:15px auto;
background:navy;


}
#cssmenu ul li{
float:left;
border-right:1px dotted gray;
height:42px;
text-align:center;
}
#cssmenu ul li a{
padding:0 25px 0 25px;
color:gray;
background:navy;
font-weight:bold;
line-height:42px;
display:inline-block;
}
#cssmenu img{
float:left;
padding:5px 10px 5px 10px;
}
#cssmenu ul li a:hover{
color:white;
background:maroon;
}
#ads{
width:1000px;
margin:20px auto;


}
#ads-left{
width:646px;
height:410px;
float:left;

}
#ads-right{
width:350px;
height:410px;
float:left;

}
#main{
width:1000px;
height:800px;
margin:10px auto;

}
#main-left{
width:230px;
height:750px;
float:left;

}
#menu-left{
width:200px;
margin:10px 0 0 14px;
border:1px solid black;
border-radius:6px;
}
#menu-left > ul{
padding:10px 20px 20px 20px;	
}
#menu-left li{
line-height:26px;
}
#menu-left > ul > li{
border-bottom:1px solid gray;
}
.submenu li{
padding-left:30px;
background: url(images/muiten.jpg) no-repeat 15px 10px;
}
.submenu{
padding-bottom:15px;
}
#menu-left a{
color:gray;
}
#menu-left a:hover{
color:blue;
cursor:pointer;
}
#menu-left li ul{
display:none;
}
#yahoo{
width:230px;
height:110px;
margin-top:40px;

}
#main-right{
width:700px;
height:750px;
float:left;
margin-left:20px;

}
#products{
margin-left:17px;
}
#products ul li{
width:220px;
height:340px;
float:left;

}
.content{
width:210px;
height:320px;
margin:9px 10px 9px 10px;

}
.title{
margin-top:6px;
text-align:center;
color:green;
}
.price{
margin-top:3px;
text-align:center;
color:green;
}
#products ul li:hover{
background:gray;
box-shadow:0 0 5px #2c2c30;
}
#about{
font-size: large;
}